# Dependencies
node_modules

# Next.js output
.next
out

# Build artifacts
dist
coverage
*.tsbuildinfo

# Environment files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor and OS files
.DS_Store
.idea
.vscode
